.sideMenuWrapper{
    height: 100%;
    width: 20%;
    /* margin-top: -10px;
    margin-left: -10px; */
    background-color: #ffffff;
    position: absolute;

    box-shadow: 0px -6px 3px 1px #f3f3f3;
    /* -webkit-app-region: drag; */
}

.mainWrapper{
    height: 100%;
    width: 100%;
    margin-top: -10px;
    margin-left: -10px;
    background-color: #f8f9fe;
    position: absolute;
    /* -webkit-app-region: drag; */
    overflow: hidden;
}

.titleWrapper{
    height: 10%;
    width: 100%;
    border-bottom: 1px solid  #e7eaed;
    background-color: #f8f9fe;
    position: absolute;
    -webkit-app-region: drag;
}

/* .transferStatus{
    position: absolute;
    height: 60%;
    width: 20%;
    margin-left: 78%;
    margin-top: 1%;
    border-radius: 30px;
    color: #f8f9fe;
    box-shadow: none;
    border: 1px solid #47546e;
    text-indent: 20px;
    transition : width .2s, height .2s , opacity 0.2s 0.2s;
    background-repeat: no-repeat;
    background-size: 10% 70%;
    background-position-y: 50%;
    background-position-x: 10px;
    background-image: url('../static/images/transfer.png');
    
    
} */

.searchBar{
    position: absolute;
    height: 60%;
    width: 25%;
    margin-left: 25%;
    margin-top: 1%;
    border-radius: 30px;
    background-color: #47546e;
    color: #f8f9fe;
    box-shadow: none;
    border: 1px solid #47546e;
    text-indent: 20px;
    transition : width .2s, height .2s , opacity 0.2s 0.2s;
    background-repeat: no-repeat;
    background-size: 10% 70%;
    background-position-y: 50%;
    background-position-x: 10px;
    
    
}
.leftWrapper{
    height: 55%;
    width: 50%;
    background-color: #ffffff;
    position: absolute;
    margin-top: 1%;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.leftWrapper::-webkit-scrollbar {
    width: 0;
}

.rightWrapper{
    height: 100%;
    width: 47%;
    background-color: #ffffff;
    position: absolute;
    margin-top: 1%;
    margin-left: 52%;
    border-radius: 5px;
   
}


.listWrapper{
  
    height: 100%;
    width: 78%;
    background-color: #ffffff;
    position: absolute;
    margin-top: 1%;
    margin-left: 21%;
    border-radius: 5px;
  
}

.infoWrapper{
    height: 22%;
    width: 80%;
    margin-left: 20%;
    margin-top: 5%;
}

.infoBlock{
   
    height: 20%;
    width: 18%;
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 1%; 
    background:-webkit-linear-gradient(left,#6174dd,#7964dc);
    position: absolute;
}

.infoTitle{
    position: relative;
    height: 20px;
    width: 100%;
    margin-top: 10px;
 
    color: #ffffff;
    line-height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.infoTitleButton{
    position: relative;
    height: 20px;
    width: 135px;
    /* margin-top: 20px; */
    /* margin-left: 10px; */
    color: #ffffff;
    line-height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.infoMain{
    height: 40px;
    width: 100%;
    margin-top: 10px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.iconWrapper{
    height: 100px;
    width: 200px;
    
    /* background-color: #47546e; */
    background-repeat: no-repeat;
    background-size: 15% 30%;
    background-position-y: 50%;
    background-position-x: 10%;
    
}

.menuBar{
    position: relative;
    height: 8%;
    width: 95%;
    margin-top: 2%;
    margin-left: 2%;
    background-repeat: no-repeat;
    background-size: 12% 60%;
    background-position-y: 50%;
    background-position-x: 10%;
    border-radius: 5px;
    color: #181819;
    line-height: 300%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;  
}

.dividorInfo{
    position: relative;
    height: 35%;
    width: 96%;
    margin-top: 2%;
    margin-left: 2%;
    background-repeat: no-repeat;
    background-size: 12% 60%;
    background-position-y: 50%;
    background-position-x: 10%;
    border-radius: 5px;
    color: #181819;
    line-height: 300%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;  
    overflow: scroll;
}
.dividorInfo::-webkit-scrollbar {
    width: 0;
}

.dividorInfoItemWrapper{
    padding-left: 2%;
    margin-top: 3px;
    width: 97%;
    height: 25px;
    line-height: 34px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px #b7b6b6;
    background: linear-gradient(90deg, #73c700 5%, #ffffff 1.5%);
}

.dividorStatusButtonActive{
   
    position: absolute;
    margin-left: 80%;
    margin-top: -2px;
    width: 30px;
    height: 20px;
    background-image: url('../static/images/connected.png');
    background-size: 70% 100%;
    background-position-y: 5px;
    background-position-x: 5%;
    background-repeat: no-repeat;
}
.dividorStatusButtonActive:hover{
    background-size: 75% 105%;
}


.dividorStatusButtonDisable{


    position: absolute;
    margin-left: 80%;
    width: 30px;
    height: 20px;
    background-image: url('../static/images/disconnect.png');
    background-size: 70% 100%;
    background-position-y: 5px;
    background-position-x: 5%;
    background-repeat: no-repeat;

}

.dividorStatusButtonDisable:hover{
    background-size: 75% 105%;
}

.hover{
    background-color: #73c700;
    opacity: 0.5;
    
}

.hover2{
    background-color: #73c700;
    opacity: 0.5;
    color: #181819;;
}

.listValueWrapper{
    position: relative;
    height: 100%;
    width: 100%;
    margin-left: 1%;
    margin-top: 1%;
    /* background: #181819; */
}

.listValueDetailWrapper{
    position: absolute;
    height: 100%;
    width: 0%;
    margin-left:0%;
    /* background: #181819; */
    opacity: 0;
    transition : width .3s, height .3s , opacity 0.3s 0.3s;
}

.dot{
    position: absolute;
    height: 10px;
    width: 10px;
    margin-top: 10px;
    border-radius: 5px;
    
}


.detailTextBig{
    position: absolute;
    height: 10%;
    width: 100%;
    margin-left: 2%;
    color: #8794a3; 
    line-height: 300%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}

.detailText{
    position: absolute;
    height: 10%;
    width: 100%;
    margin-left: 2%;
    color: #8794a3; 
    line-height: 300%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50%;
}

.imageWrapper{
    position: absolute;
    height:100px;
    width: 175px;
    margin-top: 70%;
    margin-left: 2.5%;
  
    border-radius: 5px;
}



.taskListBar{
    height: 30px;
    width: 100%;
    /* background: #f3f3f3; */
    border-radius: 5px;
    border-bottom: 1px solid #f8f6f6;
}

.taskListBarFlag{
    position: absolute;
    height: 40px;
    width: 30px;
    margin-left: 1%;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position-y: 30%;
    
}
.taskListBarTaskName{
    position: absolute;
    height: 100%;
    width: 25%;
    margin-left: 10%;
    color: #8794a3; 
    line-height: 250%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}
.taskListBarTimeCost{

    position: absolute;
    height: 100%;
    width: 10%;
    margin-left: 85%;
    color: #8794a3;
    line-height: 250%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;

}
.taskListBarProgress{

    position: absolute;
    height: 100%;
    width: 65%;
    margin-left:60%;
    color: #8794a3;
    line-height:250%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;

}

.deleteButton{
    position: absolute;
    height: 25px;
    width: 20px;
    /* border: solid; */
    margin-left: 130%;
    background: url('../static/images/delete.png');
    background-size: 100% 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    z-index: 9999;
}


.accountWrapper{
    position: absolute;
    height: 85%;
    width: 20%;
    margin-left: 21%;
    margin-top: 6%;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 1px 2px 1px #f3f3f3;
}

.accountWrapperSub{
    position: relative;
    height: 0%;
    width:  0%;
    border-radius: 5px 5px 0px 0px;
    background: #ffffff;
    box-shadow: 0px 1px 2px 1px #f3f3f3;
    transition : width .5s, height .5s , opacity 0.2s 0.2s;
}

.showSub{
    height: 70%;
    width: 100%;
}

.accountImageWrapper{
    position: absolute;
    height: 50%;
    width: 74%;
    margin-top: 10%;
    margin-left: 13%;
    border-radius: 50%;
    background: #5d6268;
    box-shadow: 0px 1px 2px 1px #f3f3f3;
    /*background-image: url('../static/images/user.jpg');*/
    background-size: 100% 100%;
    background-position-y: 50%;
}

.accountUserName{
    position: absolute;
    height: 30%;
    width: 100%;
    margin-left: 0%;
    margin-top: 85%;
    color: #181819; 
    line-height: 300%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    opacity: 0;
    transition : width .2s, height .2s , opacity 0.2s 0.2s;
}


.accountLoginInfo{
    position: absolute;
    height: 30%;
    width: 100%;
    margin-left: 0%;
    margin-top: 110%;
    color: #5d6268; 
    line-height: 300%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    opacity: 0;
    transition : width .2s, height .2s , opacity 0.2s 0.2s;

}

.accountLoginInfo2{
    position: absolute;
    height: 30%;
    width: 100%;
    margin-left: 0%;
    margin-top: 120%;
    color: #5d6268; 
    line-height: 300%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    opacity: 0;
    transition : width .2s, height .2s , opacity 0.2s 0.2s;

}



.balanceButton{
    position: absolute;
    height: 8%;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 15px;
    background-color:  #73c700; 
    color: #ffffff;
    line-height: 250%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    transition : width .2s, height .2s , opacity 0.2s 0.2s;
    background-image: url('../static/images/valet.png');
    background-size: 20% 50%;
    background-position-y: 40%;
    background-position-x: 5%;
    background-repeat: no-repeat;
    opacity: 0.5;

}

.showInfo{
    opacity: 1.0;
}


.purchaseHistoryWrapper{
    position: absolute;
    height: 40%;
    width: 57%;
    margin-left: 42%;
    margin-top: 6%;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 1px 2px 1px #f3f3f3;
}

.accountInfoDetail{
    position: absolute;
    height: 43%;
    width: 57%;
    margin-left: 42%;
    margin-top: 27%;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 1px 2px 1px #f3f3f3;
}

.logInCheckBox{
    position: absolute;
    margin-top: 280px;
    margin-left: 150px;
}


.historyTitle{
    position: absolute;
    height: 30%;
    width: 100%;
    margin-left: -40%;
    margin-top: 0%;
    color: #181819; 
    line-height: 300%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}

.costListText{
    margin-left: 5%;
    color: #181819; 
    line-height: 150%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    
}

.subMenuWrapper{
    display: block;
    position: absolute;
    opacity: 0.8;
    height: 70px;
    width: 140px;
    background: #47546e;
    border-radius: 5px;
    overflow: visible;
    z-index: 9999;

}

.arrow{
    position: absolute;
    width: 0; 
    height: 0; 
    margin-top: 70px;
    margin-left: 65px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #47546e;
    z-index: 9999;
}

.subMenuInfo{
    position: absolute;
    height: 25px;
    width: 100px;
    /* margin-top: 2px; */
    margin-left: 8px;
    /* margin-left: 10px; */
    color: #ffffff;
    line-height: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
}


.retyButton{
    position: absolute;
    height: 18px;
    width: 70px;
    margin-left: 30px;
    background-image: url('../static/images/resend.png');
    background-position-y: 3px;
    background-position-x: 0px;
    background-size: 18px 12px;
    background-repeat: no-repeat;
    margin-top: 50px;
    line-height: 18px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
    transition : width .2s, height .2s , opacity 0.2s 0.2s;
}

.retyButtonPushed{
    width: 100px
}

.appStoreUploadButton{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-left: 750px;
    margin-top: 10px;
    background-image: url('../static/images/upload.png');
    background-size: 30% 30%;
    background-repeat: no-repeat;
    z-index: 999;
}

.noticeText{
    color: #7f8083;
    height: 60px;
    width: 400px;
    margin-left: 25px;
    margin-top: 60px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    transition : width .4s, height .4s , opacity 0.5s 0.5s;
}

.countDown{
    color: #000;
    height: 60px;
    width: 400px;
    margin-left: 25px;
    margin-top: 40px;
    text-align: center;
    font-size: 56px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    transition : width .4s, height .4s , opacity 0.2s 0.2s;
}
  
.doSelectButton{
    text-decoration: none;
    padding: 1rem 2rem;
    margin-top: 50%;
    margin-left: 35%;
    border-radius: 5px;
    background: -webkit-linear-gradient(left,#6174dd,#7964dc);
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.2s ease;
    transform: translateY(0px);
    display: inline-block;
    box-shadow: 0px 8px 20px 2px rgba(0,0,0,0.27);
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.doSelectButton:hover{
    background: lighten(#7f8083, 5%);
    transition: all 0.2s ease;
    transform: translateY(3px);
}

.doCancelButton{
    width: 100px;
    height: 15px;
    margin-left: 75%;
    margin-top: -20px;
    text-align: center;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #7f8083;
}
.doCancelButton:hover{
    color: #000000;
}


.appStoreListWrapper{
    position: absolute;
    height: 440px;
    width: 790px;
    margin-left: 205px;
    margin-top: 55px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 1px 2px 1px #f3f3f3;
}
.appStoreItemList{
    position: absolute;
    width: 790px;
    height: 420px;
    /* margin-top: 30px; */
    border-radius: 5px;
    border: 2px 2px 2px 2px #181819;
}

.appStoreMenu{
    position: absolute; 
    width: 790px;
    height: 30px;
    background: #ffffff;
}

.appItem{
    position: relative;
    background: linear-gradient(90deg, #73c700 1.5%, #ffffff 1.5%);
    margin-left: 10px;
    margin-top: 5px;
    width: 750px;
    height: 0px;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px #f3f3f3;
    transition : width .4s, height .4s , opacity 0.2s 0.2s;
}

.storeTitleBar{
    position: relative;
    margin-left: 10px;
    margin-top: 30px;
    width: 750px;
    height: 30px;
    border-radius: 5px;
    /* box-shadow: 0px 1px 2px 1px #f3f3f3; */
}

.storeTitleBarText{
    position: absolute;
    text-align: left;
    margin-left: 20px;
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 12px;
    line-height: 28px;
    border-radius: 0px 3px 3px 0px;
}

.storeText{
    position: absolute;
    text-align: left;
    margin-left: 20px;
   
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 12px;
    line-height: 28px;
    width: 100px;
}

.storeBuyButton{
    position: absolute;
    text-align: center;
    width: 30px;
    height: 30px;
    margin-left: 650px;
    background-image: url('../static/images/buy.png');
    background-size: 80% 80%;
    background-position-y: 60%;
    background-repeat: no-repeat;
}

.uploadPopOut{
    position: absolute;
    width: 450px;
    height: 300px;
    margin-left: 275px;
    margin-top: 100px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px 3px #a5a1a1;
}

.appNameInput{
    position: absolute;
    width: 250px;
    height: 30px;
    border-radius: 5px;
  
    margin-left: 100px;
    margin-top: 40px;
    text-align: center;
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 12px;
    line-height: 28px;
    color: #a5a1a1;
    box-shadow: inset 0 0.5px 1px #CCC;
    -moz-box-shadow: inset 0 0 1px #CCC;
    -webkit-box-shadow: inset 0 0 1px #CCC;
}
.authNameInput{
    position: absolute;
    width: 250px;
    height: 30px;
    border-radius: 5px;

    margin-top: 90px;
    margin-left: 100px;
    text-align: center;
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 12px;
    line-height: 28px;
    color: #a5a1a1;
    box-shadow: inset 0 0.5px 1px #CCC;
    -moz-box-shadow: inset 0 0 1px #CCC;
    -webkit-box-shadow: inset 0 0 1px #CCC;

}
.descriptionInput{
    position: absolute;
    width: 250px;
    height: 80px;
    border-radius: 5px;
  
    margin-top: 140px;
    margin-left: 100px;
    text-align: center;
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 12px;
    line-height: 28px;
    color: #a5a1a1;
    box-shadow: 0 0 0.1rem #c2c2c2;
}

.commonText{
    position: relative; 
    text-align: left;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 2px;
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 12px;
    line-height: 12px;
    overflow: hidden;
    color: #a5a1a1;
}

.uploadCancelButton{
    position: absolute;
    width: 100px;
    height: 20px;
    margin-top: 250px;
    margin-left: 25px;
    
}
.uploadNextButton{
    position: absolute;
    width: 100px;
    height: 20px;
    margin-top: 250px;
    margin-left: 320px;
}

.breath-light2 {
    position: absolute;
    margin: auto;
    margin-top: 18px;
    margin-left: 900px;
    height: 20px;
    width: 100px;
    border-radius: 3px 0px 0px 3px;
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background: #c2c2c2;
    box-shadow: 0 1px 2px 1px #b7b6b6;
  }

.breath-light {
    position: absolute;
    margin: auto;
    margin-top: 18px;
    margin-left: 900px;
    height: 20px;
    width: 100px;
    border-radius: 3px 0px 0px 3px;
    background: #73c700;
    box-shadow: 0 1px 2px 1px #b7b6b6;
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    -webkit-animation: breath 6s;
    animation: breath 6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

  }
  
  @-webkit-keyframes breath {
    0%    {
        opacity: 0.1;
    }
    60%   {
        opacity:   1;
    }
    100%  {
        opacity: 0.1;
    }
  }
  @-o-keyframes breath {
    0%    {
        opacity: 0.1;
    }
    60%   {
        opacity:   1;
    }
    100%  {
        opacity: 0.1;
    }
  }
  @-moz-keyframes breath {
    0%    {
        opacity: 0.1;
    }
    60%   {
        opacity:   1;
    }
    100%  {
        opacity: 0.1;
    }
  }
  @keyframes breath {
    0%    {
        opacity: 0.1;
    }
    60%   {
        opacity:   1;
    }
    100%  {
        opacity: 0.1;
    }
  }


/*
  carousel
*/



.list {
    height: 110%;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 
  }

  .carouselTextLittle{
    color: #ffffff;
    line-height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
  }

  .carouselTextBig{
    color: #ffffff;
    line-height: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top:8px;
  }
  
  .list li {
    list-style-type: none;
    
    width: 150px;
    height: 50px;
    opacity: .25;
    position: absolute;
    left: -10%;
    margin-left: -29px;
    margin-top: 15px;
    border-radius: 2px;
    background: #9C89B8;
    transition: transform 1s, opacity 1s;
  }
  
  .list .act {
    opacity: 1;
  }
  
  .list .prev,
  .list .next {
    cursor: pointer;
  }
  
  .list .prev {
    transform: translateX(-22px) scale(.85);
  }
  
  .list .next {
    transform: translateX(22px) scale(.85);
  }
  
  .list .hide {
    transform: translateX(-42px) scale(.85);
  }
  
  .list .new-next {
    transform: translateX(42px) scale(.85);
  }
  
  .list .hide,
  .list .new-next {
    opacity: 0;
    transition: opacity .5s, transform .5s;
  }
  
  .swipe {
    width: 27px;
    height: 20px;
    position: absolute;
    background-color: green;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
  }